{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<div class="ui stackable grid">
    <div class="eight wide column">
        <h1>{{ anuncio.titulo }}</h1>
        <div class="sub header">Anunciado em {{ anuncio.criado_em }}</div>
        {% if anuncio.criado_em|truncatechars:16 != anuncio.alterado_em|truncatechars:16 %}
        <div class="sub header">Alterado em {{ anuncio.alterado_em }}</div>
        {% endif %}
    </div>
    <div class="eight wide column">
        <h1 style="text-align: right; vertical-align: middle">R$ {{ anuncio.preco }}</h1>
    </div>
</div>
<img class="ui fluid image" src="{% static 'anuncios/img/default.png' %}">
<div style="padding-top: 10px" class="ui stackable grid">
    <div class="ui sixteen wide column">
        {% if anuncio.descricao %}
        <h1>Descrição</h1>
        <p>{{ anuncio.descricao|linebreaks }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}